ul{margin: 0; padding: 0; overflow: hidden;}
ul li{list-style: none; }
.hide{display: none !important; }
.star-container{width:145px; margin:1rem auto;}
.star-container ul {display: flex; justify-content:center;}
.star-container ul li{width:24px;cursor:pointer;text-indent:-9999px;background:url(../img/star.png) no-repeat; margin-right: 0.25rem;}
.star-container ul li.on{background-position: 0 -28px;}
.reason-container{padding: 0 1rem;}
.reason-container p{font-size: 0.6rem; color:#999999;}
.reason-container ul {display: flex; justify-content:center;flex-wrap:wrap;}
.reason-container ul li{  padding:0.1rem 0.25rem; font-size: 0.6rem; color: #999999; border:1px #E6E6E6 solid; border-radius:4px; margin-right: 0.5rem; margin-bottom: 0.5rem;}
.reason-container ul li.active{color: #ec5353; border:1px #ff8181 solid;}
.item-content {margin-bottom: 3.5rem; margin-top: 1.5rem;}
.item-content .item-input{width:100%;}
.item-content .item-input textarea.textarea{width:80%;padding: 2%; height:6rem; max-width: 80%; max-height: 6rem; margin-left:10%; border-top: none; border: 1px solid #E6E6E6; font-size: 0.6rem; color: #666666;}
